@mixin btn ($color) {
    background-color: $color;
    box-shadow: 0 7px 17px -10px rgba($color, .3);

    &:hover,
    &:focus {
        background-color: darken($color, 10%);
        text-decoration: none;
    }
}

@mixin breakpoint($bp) {

    @media (max-width: $bp) {
        @content;
    }

}