.btn {
    display: inline-block;
    vertical-align: top;
    padding: 1.125em 1.731em;

    background: $secondary;
    border: none;
    cursor: pointer;
    border-radius: 3em;

    font-family: inherit;
    font-size: 1.2rem;
    line-height: 1.1;
    font-weight: 500;
    color: $white;

    transition: background-color .2s linear;

    &--red {
        @include btn($red);
    }

    &--blue {
        @include btn($blue);
    }

    &--rounded {
        border-radius: .41em;
    }

    &--sm {
        padding: .7em 1.25em;
    }
}