.pagination {
    display: flex;
    justify-content: center;
    margin-top: 8rem;

    @include breakpoint ($mobile-bp) {
        margin-top: 5rem;
    }
}

.pagination__item {
    margin: 0 .5rem;
}

.pagination__link {
    display: block;
    width: 4rem;
    height: 4rem;

    background-color: #0d0d0d;
    border-radius: 3px;
    box-shadow: 0 0 10px rgba($black, .15);

    font-size: 1.4rem;
    line-height: 4rem;
    color: $white;
    text-align: center;

    transition: background-color .2s linear;

    &.active {
        background-color: $blue;
        box-shadow: 0 0 10px rgba($blue, .15);
    }

    &:hover {
        background-color: darken($blue, 15%);
        text-decoration: none;
    }
}