<div class="modal" id="share-modal">
    <div class="modal__content">

        <button class="modal__close" type="button">
            <img src="assets/images/close.svg" alt="Закрыть">
        </button>

        <ul class="social">
            <li class="social__item">
                <a class="socail__link" href="">
                    <img src="assets/images/share/facebook.svg" alt="m">
                </a>
            </li>

            <li class="social__item">
                <a class="socail__link" href="">
                    <img src="assets/images/share/twitter.svg" alt="">
                </a>
            </li>

            <li class="social__item">
                <a class="socail__link" href="">
                    <img src="assets/images/share/vk.svg" alt="">
                </a>
            </li>

            <li class="social__item">
                <a class="socail__link" href="">
                    <img src="assets/images/share/copy.svg" alt="">
                </a>
            </li>
        </ul> 

    </div> <!-- /.modal__content -->
</div> <!-- /.modal -->